***
# Machine Learning Linear Regression Model 3 
### Time-Series Forecast of the Average-Annual of Maternal Mortality & Associated Impacts in USA (2009-2030)
***

### Importing Dependencies

In [2]:
# Importing dependencies:
import numpy as np
import pandas as pd

### Read the CSV and Perform Basic Data Cleaning

In [3]:
# Reading the csv file into a pandas DataFrame
mmr_without_race = pd.read_csv('../Resources/non_race_data.csv')
mmr_without_race

,year,state,id,state_code,latitude,longitude,deaths,births,maternal_mortality_ratio,population,...,prem_death_val,smoking_val,uninsured_val,all_determs_val,all_outcomes_val,chlamydia_val,prem_death_ri_val,teen_birth_val,primary_care_val,low_birthweight_val
0,2015,Alabama,US.AL,AL,32.318231,-86.902298,12.0,59657.0,20.11,2505795.0,...,10095.0,21.1,12.9,-0.371,-0.325,611.0,1.2,34.3,103.5,10.0
1,2016,Alabama,US.AL,AL,32.318231,-86.902298,35.0,59151.0,59.17,2507714.0,...,10097.0,21.4,11.1,-0.427,-0.366,600.2,1.1,32.0,116.4,10.1
2,2017,Alabama,US.AL,AL,32.318231,-86.902298,41.0,58941.0,69.56,2514911.0,...,10321.0,21.5,9.6,-0.427,-0.335,543.6,1.2,30.1,119.3,10.4
3,2018,Alabama,US.AL,AL,32.318231,-86.902298,31.0,57761.0,53.67,2523756.0,...,10720.0,20.9,9.3,-0.483,-0.356,553.6,1.1,28.4,122.8,10.3
4,2019,Alabama,US.AL,AL,32.318231,-86.902298,35.0,58615.0,59.71,2533668.0,...,10435.0,19.2,9.7,-0.437,-0.383,614.1,1.2,27.0,122.8,10.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,2014,Wisconsin,US.WI,WI,43.784440,-88.787868,16.0,67161.0,23.82,2898057.0,...,6207.0,18.7,9.0,0.165,0.067,415.4,2.0,21.9,125.0,7.1
304,2015,Wisconsin,US.WI,WI,43.784440,-88.787868,11.0,67041.0,16.41,2903737.0,...,6365.0,17.4,8.2,0.146,0.046,411.6,1.9,19.6,125.3,7.0
305,2016,Wisconsin,US.WI,WI,43.784440,-88.787868,15.0,66615.0,22.52,2905282.0,...,6324.0,17.3,6.5,0.114,0.106,403.2,1.9,18.0,140.3,7.3
306,2017,Wisconsin,US.WI,WI,43.784440,-88.787868,12.0,64975.0,18.47,2912745.0,...,6437.0,17.1,5.5,0.201,0.072,423.5,1.9,16.2,145.2,7.3
307,2019,Wisconsin,US.WI,WI,43.784440,-88.787868,13.0,63270.0,20.55,2925225.0,...,6800.0,16.4,5.5,0.129,0.074,478.6,2.0,13.8,152.4,7.7

### Grouping DataFrame by `year` and Calculating the Average

In [24]:
# Setting y value for grouping
y = 'maternal_mortality_ratio'

# Grouping by year
AVG_MMR_USA = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA.reset_index()

    year  maternal_mortality_ratio
0   2009                 26.747083
1   2010                 25.715417
2   2011                 27.871481
3   2012                 29.929583
4   2013                 31.729333
5   2014                 32.339259
6   2015                 31.944074
7   2016                 35.440968
8   2017                 34.208889
9   2018                 31.526071
10  2019                 34.073333

In [28]:
# Setting y value for grouping
y = 'prem_death_val'

# Grouping by year
AVG_MMR_USA_1 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_1.reset_index()

# Merging with mmr_predictions 
df_1 = pd.merge(AVG_MMR_USA, AVG_MMR_USA_1, how='inner', left_on=['year'], right_on=['year'])
df_1.reset_index()

    year  maternal_mortality_ratio  prem_death_val
0   2009                 26.747083     7845.041667
1   2010                 25.715417     7816.875000
2   2011                 27.871481     7603.666667
3   2012                 29.929583     8014.041667
4   2013                 31.729333     7635.300000
5   2014                 32.339259     7233.481481
6   2015                 31.944074     7530.666667
7   2016                 35.440968     7582.193548
8   2017                 34.208889     7658.861111
9   2018                 31.526071     8270.428571
10  2019                 34.073333     8077.366667

In [29]:
# Setting y value for grouping
y = 'diabetes_val'

# Grouping by year
AVG_MMR_USA_2 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_2.reset_index()

# Merging with mmr_predictions 
df_2 = pd.merge(df_1, AVG_MMR_USA_2, how='inner', left_on=['year'], right_on=['year'])
df_2.reset_index()

    year  maternal_mortality_ratio  prem_death_val  diabetes_val
0   2009                 26.747083     7845.041667      8.920833
1   2010                 25.715417     7816.875000      9.291667
2   2011                 27.871481     7603.666667      9.229630
3   2012                 29.929583     8014.041667     10.208333
4   2013                 31.729333     7635.300000     10.200000
5   2014                 32.339259     7233.481481     10.070370
6   2015                 31.944074     7530.666667     10.677778
7   2016                 35.440968     7582.193548     10.670968
8   2017                 34.208889     7658.861111     10.869444
9   2018                 31.526071     8270.428571     11.514286
10  2019                 34.073333     8077.366667     11.653333