***
# Machine Learning Linear Regression Model 3 
### Time-Series Forecast of the Average-Annual of Maternal Mortality & Associated Impacts in USA (2009-2030)
***

### Importing Dependencies

In [1]:
# Importing dependencies:
import numpy as np
import pandas as pd

### Read the CSV and Perform Basic Data Cleaning

In [2]:
# Reading the csv file into a pandas DataFrame
mmr_without_race = pd.read_csv('../Resources/non_race_data.csv')
mmr_without_race

,year,state,id,state_code,latitude,longitude,deaths,births,maternal_mortality_ratio,population,...,prem_death_val,smoking_val,uninsured_val,all_determs_val,all_outcomes_val,chlamydia_val,prem_death_ri_val,teen_birth_val,primary_care_val,low_birthweight_val
0,2015,Alabama,US.AL,AL,32.318231,-86.902298,12.0,59657.0,20.11,2505795.0,...,10095.0,21.1,12.9,-0.371,-0.325,611.0,1.2,34.3,103.5,10.0
1,2016,Alabama,US.AL,AL,32.318231,-86.902298,35.0,59151.0,59.17,2507714.0,...,10097.0,21.4,11.1,-0.427,-0.366,600.2,1.1,32.0,116.4,10.1
2,2017,Alabama,US.AL,AL,32.318231,-86.902298,41.0,58941.0,69.56,2514911.0,...,10321.0,21.5,9.6,-0.427,-0.335,543.6,1.2,30.1,119.3,10.4
3,2018,Alabama,US.AL,AL,32.318231,-86.902298,31.0,57761.0,53.67,2523756.0,...,10720.0,20.9,9.3,-0.483,-0.356,553.6,1.1,28.4,122.8,10.3
4,2019,Alabama,US.AL,AL,32.318231,-86.902298,35.0,58615.0,59.71,2533668.0,...,10435.0,19.2,9.7,-0.437,-0.383,614.1,1.2,27.0,122.8,10.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,2014,Wisconsin,US.WI,WI,43.784440,-88.787868,16.0,67161.0,23.82,2898057.0,...,6207.0,18.7,9.0,0.165,0.067,415.4,2.0,21.9,125.0,7.1
304,2015,Wisconsin,US.WI,WI,43.784440,-88.787868,11.0,67041.0,16.41,2903737.0,...,6365.0,17.4,8.2,0.146,0.046,411.6,1.9,19.6,125.3,7.0
305,2016,Wisconsin,US.WI,WI,43.784440,-88.787868,15.0,66615.0,22.52,2905282.0,...,6324.0,17.3,6.5,0.114,0.106,403.2,1.9,18.0,140.3,7.3
306,2017,Wisconsin,US.WI,WI,43.784440,-88.787868,12.0,64975.0,18.47,2912745.0,...,6437.0,17.1,5.5,0.201,0.072,423.5,1.9,16.2,145.2,7.3
307,2019,Wisconsin,US.WI,WI,43.784440,-88.787868,13.0,63270.0,20.55,2925225.0,...,6800.0,16.4,5.5,0.129,0.074,478.6,2.0,13.8,152.4,7.7

In [3]:
mmr_without_race.columns

Index(['year', 'state', 'id', 'state_code', 'latitude', 'longitude', 'deaths',
       'births', 'maternal_mortality_ratio', 'population', 'employer',
       'non_group', 'medicaid', 'medicare', 'military', 'uninsured',
       'air_pollution_val', 'cancer_death_val', 'cardio_death_val',
       'child_pov_val', 'choles_check_val', 'dent_vis_val', 'dentists_val',
       'diabetes_val', 'drug_deaths_val', 'health_stat_fem_val',
       'immun_child_val', 'income_ineq_val', 'infant_mort_val',
       'infect_dis_val', 'obesity_val', 'phys_inac_val', 'prem_death_val',
       'smoking_val', 'uninsured_val', 'all_determs_val', 'all_outcomes_val',
       'chlamydia_val', 'prem_death_ri_val', 'teen_birth_val',
       'primary_care_val', 'low_birthweight_val'],
      dtype='object')

### Grouping DataFrame by `year` and Calculating the Average

In [4]:
# Setting y value for grouping
y = 'maternal_mortality_ratio'

# Grouping by year
AVG_MMR_USA = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA.reset_index()

    year  maternal_mortality_ratio
0   2009                 26.747083
1   2010                 25.715417
2   2011                 27.871481
3   2012                 29.929583
4   2013                 31.729333
5   2014                 32.339259
6   2015                 31.944074
7   2016                 35.440968
8   2017                 34.208889
9   2018                 31.526071
10  2019                 34.073333

In [5]:
# Setting y value for grouping
y = 'diabetes_val'

# Grouping by year
AVG_MMR_USA_1 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_1.reset_index()

# Merging with mmr_predictions 
df_1 = pd.merge(AVG_MMR_USA, AVG_MMR_USA_1, how='inner', left_on=['year'], right_on=['year'])
df_1.reset_index()

    year  maternal_mortality_ratio  diabetes_val
0   2009                 26.747083      8.920833
1   2010                 25.715417      9.291667
2   2011                 27.871481      9.229630
3   2012                 29.929583     10.208333
4   2013                 31.729333     10.200000
5   2014                 32.339259     10.070370
6   2015                 31.944074     10.677778
7   2016                 35.440968     10.670968
8   2017                 34.208889     10.869444
9   2018                 31.526071     11.514286
10  2019                 34.073333     11.653333

In [6]:
# Setting y value for grouping
y = 'prem_death_val'

# Grouping by year
AVG_MMR_USA_2 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_2.reset_index()

# Merging with mmr_predictions 
df_2 = pd.merge(df_1, AVG_MMR_USA_2, how='inner', left_on=['year'], right_on=['year'])
df_2.reset_index()

    year  maternal_mortality_ratio  diabetes_val  prem_death_val
0   2009                 26.747083      8.920833     7845.041667
1   2010                 25.715417      9.291667     7816.875000
2   2011                 27.871481      9.229630     7603.666667
3   2012                 29.929583     10.208333     8014.041667
4   2013                 31.729333     10.200000     7635.300000
5   2014                 32.339259     10.070370     7233.481481
6   2015                 31.944074     10.677778     7530.666667
7   2016                 35.440968     10.670968     7582.193548
8   2017                 34.208889     10.869444     7658.861111
9   2018                 31.526071     11.514286     8270.428571
10  2019                 34.073333     11.653333     8077.366667

In [7]:
# Setting y value for grouping
y = 'phys_inac_val'

# Grouping by year
AVG_MMR_USA_3 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_3.reset_index()

# Merging with mmr_predictions 
df_3 = pd.merge(df_2, AVG_MMR_USA_3, how='inner', left_on=['year'], right_on=['year'])
df_3.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val
0,2009,26.747083,8.920833,7845.041667,25.879167
1,2010,25.715417,9.291667,7816.875000,25.350000
2,2011,27.871481,9.229630,7603.666667,24.644444
3,2012,29.929583,10.208333,8014.041667,27.183333
4,2013,31.729333,10.200000,7635.300000,23.720000
5,2014,32.339259,10.070370,7233.481481,26.818519
6,2015,31.944074,10.677778,7530.666667,24.177778
7,2016,35.440968,10.670968,7582.193548,27.041935
8,2017,34.208889,10.869444,7658.861111,24.272222
9,2018,31.526071,11.514286,8270.428571,28.246429
10,2019,34.073333,11.653333,8077.366667,25.070000

In [8]:
# Setting y value for grouping
y = 'low_birthweight_val'

# Grouping by year
AVG_MMR_USA_4 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_4.reset_index()

# Merging with mmr_predictions 
df_4 = pd.merge(df_3, AVG_MMR_USA_4, how='inner', left_on=['year'], right_on=['year'])
df_4.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000

In [9]:
# Setting y value for grouping
y = 'obesity_val'

# Grouping by year
AVG_MMR_USA_5 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_5.reset_index()

# Merging with mmr_predictions 
df_5 = pd.merge(df_4, AVG_MMR_USA_5, how='inner', left_on=['year'], right_on=['year'])
df_5.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667

In [10]:
# Setting y value for grouping
y = 'cardio_death_val'

# Grouping by year
AVG_MMR_USA_6 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_6.reset_index()

# Merging with mmr_predictions 
df_6 = pd.merge(df_5, AVG_MMR_USA_6, how='inner', left_on=['year'], right_on=['year'])
df_6.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000

In [11]:
# Setting y value for grouping
y = 'medicare'

# Grouping by year
AVG_MMR_USA_7 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_7.reset_index()

# Merging with mmr_predictions 
df_7 = pd.merge(df_6, AVG_MMR_USA_7, how='inner', left_on=['year'], right_on=['year'])
df_7.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333

In [12]:
# Setting y value for grouping
y = 'cancer_death_val'

# Grouping by year
AVG_MMR_USA_8 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_8.reset_index()

# Merging with mmr_predictions 
df_8 = pd.merge(df_7, AVG_MMR_USA_8, how='inner', left_on=['year'], right_on=['year'])
df_8.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333

In [13]:
# Setting y value for grouping
y = 'chlamydia_val'

# Grouping by year
AVG_MMR_USA_9 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_9.reset_index()

# Merging with mmr_predictions 
df_9 = pd.merge(df_8, AVG_MMR_USA_9, how='inner', left_on=['year'], right_on=['year'])
df_9.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333

In [14]:
# Setting y value for grouping
y = 'child_pov_val'

# Grouping by year
AVG_MMR_USA_10 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_10.reset_index()

# Merging with mmr_predictions 
df_10 = pd.merge(df_9, AVG_MMR_USA_10, how='inner', left_on=['year'], right_on=['year'])
df_10.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val,child_pov_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833,18.529167
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167,21.225000
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444,21.255556
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500,21.679167
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667,21.450000
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778,18.859259
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852,21.644444
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548,19.541935
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556,17.900000
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714,20.500000
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333,18.380000

In [15]:
# Setting y value for grouping
y = 'smoking_val'

# Grouping by year
AVG_MMR_USA_11 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_11.reset_index()

# Merging with mmr_predictions 
df_11 = pd.merge(df_10, AVG_MMR_USA_11, how='inner', left_on=['year'], right_on=['year'])
df_11.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val,child_pov_val,smoking_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833,18.529167,19.641667
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167,21.225000,19.166667
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444,21.255556,18.140741
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500,21.679167,21.633333
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667,21.450000,20.163333
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778,18.859259,19.103704
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852,21.644444,18.685185
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548,19.541935,18.270968
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556,17.900000,17.386111
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714,20.500000,18.246429
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333,18.380000,16.740000

In [16]:
# Setting y value for grouping
y = 'infant_mort_val'

# Grouping by year
AVG_MMR_USA_12 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_12.reset_index()

# Merging with mmr_predictions 
df_12 = pd.merge(df_11, AVG_MMR_USA_12, how='inner', left_on=['year'], right_on=['year'])
df_12.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val,child_pov_val,smoking_val,infant_mort_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833,18.529167,19.641667,7.254167
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167,21.225000,19.166667,7.120833
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444,21.255556,18.140741,6.744444
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500,21.679167,21.633333,6.816667
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667,21.450000,20.163333,6.460000
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778,18.859259,19.103704,6.266667
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852,21.644444,18.685185,6.385185
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548,19.541935,18.270968,6.274194
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556,17.900000,17.386111,6.097222
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714,20.500000,18.246429,6.442857
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333,18.380000,16.740000,6.326667

In [17]:
# Setting y value for grouping
y = 'income_ineq_val'

# Grouping by year
AVG_MMR_USA_13 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_13.reset_index()

# Merging with mmr_predictions 
df_13 = pd.merge(df_12, AVG_MMR_USA_13, how='inner', left_on=['year'], right_on=['year'])
df_13.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val,child_pov_val,smoking_val,infant_mort_val,income_ineq_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833,18.529167,19.641667,7.254167,4.547917
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167,21.225000,19.166667,7.120833,4.633750
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444,21.255556,18.140741,6.744444,4.691481
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500,21.679167,21.633333,6.816667,4.867083
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667,21.450000,20.163333,6.460000,4.782000
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778,18.859259,19.103704,6.266667,4.758148
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852,21.644444,18.685185,6.385185,4.812963
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548,19.541935,18.270968,6.274194,4.790323
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556,17.900000,17.386111,6.097222,4.777222
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714,20.500000,18.246429,6.442857,4.883929
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333,18.380000,16.740000,6.326667,4.746333

In [18]:
# Setting y value for grouping
y = 'dentists_val'

# Grouping by year
AVG_MMR_USA_14 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_14.reset_index()

# Merging with mmr_predictions 
df_14 = pd.merge(df_13, AVG_MMR_USA_14, how='inner', left_on=['year'], right_on=['year'])
df_14.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val,child_pov_val,smoking_val,infant_mort_val,income_ineq_val,dentists_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833,18.529167,19.641667,7.254167,4.547917,54.887500
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167,21.225000,19.166667,7.120833,4.633750,55.062500
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444,21.255556,18.140741,6.744444,4.691481,56.674074
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500,21.679167,21.633333,6.816667,4.867083,55.620833
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667,21.450000,20.163333,6.460000,4.782000,56.910000
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778,18.859259,19.103704,6.266667,4.758148,57.655556
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852,21.644444,18.685185,6.385185,4.812963,57.440741
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548,19.541935,18.270968,6.274194,4.790323,57.416129
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556,17.900000,17.386111,6.097222,4.777222,57.925000
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714,20.500000,18.246429,6.442857,4.883929,56.960714
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333,18.380000,16.740000,6.326667,4.746333,56.890000

In [19]:
# Setting y value for grouping
y = 'prem_death_ri_val'

# Grouping by year
AVG_MMR_USA_15 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_15.reset_index()

# Merging with mmr_predictions 
df_15 = pd.merge(df_14, AVG_MMR_USA_15, how='inner', left_on=['year'], right_on=['year'])
df_15.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val,child_pov_val,smoking_val,infant_mort_val,income_ineq_val,dentists_val,prem_death_ri_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833,18.529167,19.641667,7.254167,4.547917,54.887500,1.604167
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167,21.225000,19.166667,7.120833,4.633750,55.062500,1.504167
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444,21.255556,18.140741,6.744444,4.691481,56.674074,1.544444
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500,21.679167,21.633333,6.816667,4.867083,55.620833,1.495833
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667,21.450000,20.163333,6.460000,4.782000,56.910000,1.500000
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778,18.859259,19.103704,6.266667,4.758148,57.655556,1.503704
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852,21.644444,18.685185,6.385185,4.812963,57.440741,1.414815
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548,19.541935,18.270968,6.274194,4.790323,57.416129,1.429032
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556,17.900000,17.386111,6.097222,4.777222,57.925000,1.433333
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714,20.500000,18.246429,6.442857,4.883929,56.960714,1.414286
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333,18.380000,16.740000,6.326667,4.746333,56.890000,1.486667

In [20]:
# Setting y value for grouping
y = 'dent_vis_val'

# Grouping by year
AVG_MMR_USA_16 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_16.reset_index()

# Merging with mmr_predictions 
df_16 = pd.merge(df_15, AVG_MMR_USA_16, how='inner', left_on=['year'], right_on=['year'])
df_16.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val,child_pov_val,smoking_val,infant_mort_val,income_ineq_val,dentists_val,prem_death_ri_val,dent_vis_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833,18.529167,19.641667,7.254167,4.547917,54.887500,1.604167,69.491667
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167,21.225000,19.166667,7.120833,4.633750,55.062500,1.504167,68.895833
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444,21.255556,18.140741,6.744444,4.691481,56.674074,1.544444,69.488889
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500,21.679167,21.633333,6.816667,4.867083,55.620833,1.495833,68.704167
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667,21.450000,20.163333,6.460000,4.782000,56.910000,1.500000,64.690000
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778,18.859259,19.103704,6.266667,4.758148,57.655556,1.503704,65.314815
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852,21.644444,18.685185,6.385185,4.812963,57.440741,1.414815,63.455556
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548,19.541935,18.270968,6.274194,4.790323,57.416129,1.429032,64.038710
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556,17.900000,17.386111,6.097222,4.777222,57.925000,1.433333,65.522222
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714,20.500000,18.246429,6.442857,4.883929,56.960714,1.414286,64.200000
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333,18.380000,16.740000,6.326667,4.746333,56.890000,1.486667,65.383333

In [21]:
# Setting y value for grouping
y = 'all_outcomes_val'

# Grouping by year
AVG_MMR_USA_17 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_17.reset_index()

# Merging with mmr_predictions 
df_17 = pd.merge(df_16, AVG_MMR_USA_17, how='inner', left_on=['year'], right_on=['year'])
df_17.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val,child_pov_val,smoking_val,infant_mort_val,income_ineq_val,dentists_val,prem_death_ri_val,dent_vis_val,all_outcomes_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833,18.529167,19.641667,7.254167,4.547917,54.887500,1.604167,69.491667,0.016708
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167,21.225000,19.166667,7.120833,4.633750,55.062500,1.504167,68.895833,0.012917
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444,21.255556,18.140741,6.744444,4.691481,56.674074,1.544444,69.488889,0.022185
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500,21.679167,21.633333,6.816667,4.867083,55.620833,1.495833,68.704167,-0.069458
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667,21.450000,20.163333,6.460000,4.782000,56.910000,1.500000,64.690000,-0.026767
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778,18.859259,19.103704,6.266667,4.758148,57.655556,1.503704,65.314815,-0.019296
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852,21.644444,18.685185,6.385185,4.812963,57.440741,1.414815,63.455556,-0.051185
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548,19.541935,18.270968,6.274194,4.790323,57.416129,1.429032,64.038710,-0.060258
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556,17.900000,17.386111,6.097222,4.777222,57.925000,1.433333,65.522222,-0.033944
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714,20.500000,18.246429,6.442857,4.883929,56.960714,1.414286,64.200000,-0.094500
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333,18.380000,16.740000,6.326667,4.746333,56.890000,1.486667,65.383333,-0.074867

In [22]:
# Setting y value for grouping
y = 'all_determs_val'

# Grouping by year
AVG_MMR_USA_18 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_18.reset_index()

# Merging with mmr_predictions 
df_18 = pd.merge(df_17, AVG_MMR_USA_18, how='inner', left_on=['year'], right_on=['year'])
df_18.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val,child_pov_val,smoking_val,infant_mort_val,income_ineq_val,dentists_val,prem_death_ri_val,dent_vis_val,all_outcomes_val,all_determs_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833,18.529167,19.641667,7.254167,4.547917,54.887500,1.604167,69.491667,0.016708,-0.055208
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167,21.225000,19.166667,7.120833,4.633750,55.062500,1.504167,68.895833,0.012917,-0.061458
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444,21.255556,18.140741,6.744444,4.691481,56.674074,1.544444,69.488889,0.022185,-0.019296
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500,21.679167,21.633333,6.816667,4.867083,55.620833,1.495833,68.704167,-0.069458,-0.098208
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667,21.450000,20.163333,6.460000,4.782000,56.910000,1.500000,64.690000,-0.026767,-0.067567
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778,18.859259,19.103704,6.266667,4.758148,57.655556,1.503704,65.314815,-0.019296,-0.028667
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852,21.644444,18.685185,6.385185,4.812963,57.440741,1.414815,63.455556,-0.051185,-0.078519
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548,19.541935,18.270968,6.274194,4.790323,57.416129,1.429032,64.038710,-0.060258,-0.057806
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556,17.900000,17.386111,6.097222,4.777222,57.925000,1.433333,65.522222,-0.033944,-0.008944
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714,20.500000,18.246429,6.442857,4.883929,56.960714,1.414286,64.200000,-0.094500,-0.082714
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333,18.380000,16.740000,6.326667,4.746333,56.890000,1.486667,65.383333,-0.074867,-0.070133

In [23]:
# Setting y value for grouping
y = 'health_stat_fem_val'

# Grouping by year
AVG_MMR_USA_19 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_19.reset_index()

# Merging with mmr_predictions 
df_19 = pd.merge(df_18, AVG_MMR_USA_19, how='inner', left_on=['year'], right_on=['year'])
Combined_AVG_df = df_19.reset_index()
Combined_AVG_df

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,...,child_pov_val,smoking_val,infant_mort_val,income_ineq_val,dentists_val,prem_death_ri_val,dent_vis_val,all_outcomes_val,all_determs_val,health_stat_fem_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,...,18.529167,19.641667,7.254167,4.547917,54.887500,1.604167,69.491667,0.016708,-0.055208,52.666667
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,...,21.225000,19.166667,7.120833,4.633750,55.062500,1.504167,68.895833,0.012917,-0.061458,52.266667
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,...,21.255556,18.140741,6.744444,4.691481,56.674074,1.544444,69.488889,0.022185,-0.019296,52.937037
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,...,21.679167,21.633333,6.816667,4.867083,55.620833,1.495833,68.704167,-0.069458,-0.098208,49.241667
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,...,21.450000,20.163333,6.460000,4.782000,56.910000,1.500000,64.690000,-0.026767,-0.067567,50.263333
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,...,18.859259,19.103704,6.266667,4.758148,57.655556,1.503704,65.314815,-0.019296,-0.028667,50.707407
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,...,21.644444,18.685185,6.385185,4.812963,57.440741,1.414815,63.455556,-0.051185,-0.078519,49.788889
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,...,19.541935,18.270968,6.274194,4.790323,57.416129,1.429032,64.038710,-0.060258,-0.057806,50.290323
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,...,17.900000,17.386111,6.097222,4.777222,57.925000,1.433333,65.522222,-0.033944,-0.008944,50.108333
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,...,20.500000,18.246429,6.442857,4.883929,56.960714,1.414286,64.200000,-0.094500,-0.082714,47.725000
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,...,18.380000,16.740000,6.326667,4.746333,56.890000,1.486667,65.383333,-0.074867,-0.070133,48.260000

In [25]:
Combined_AVG_df.count()

year                        11
maternal_mortality_ratio    11
diabetes_val                11
prem_death_val              11
phys_inac_val               11
low_birthweight_val         11
obesity_val                 11
cardio_death_val            11
medicare                    11
cancer_death_val            11
chlamydia_val               11
child_pov_val               11
smoking_val                 11
infant_mort_val             11
income_ineq_val             11
dentists_val                11
prem_death_ri_val           11
dent_vis_val                11
all_outcomes_val            11
all_determs_val             11
health_stat_fem_val         11
dtype: int64

### Saving Final DataFrame to CSV¶

In [30]:
# Saving merged dataframe into a csv file, without the Pandas Index, but with the header
Combined_AVG_df.to_csv("../Resources/combined_avg_2009_2019.csv", index=False, header=True, float_format='%.2f')

***
### Performing Time-Series Forecast of Average Annual predictions of all other variables in USA (2020-2030)
***

#### Simple Time-Series Forecast of Average Annual Maternal Mortality in USA

In [44]:
# Importing ML linear regression dependency
from sklearn.linear_model import LinearRegression

# Selecting and assigning the X and y values
X1 = AVG_MMR_USA.reset_index().year.values.reshape(-1,1)
y1 = AVG_MMR_USA.reset_index()['maternal_mortality_ratio'].values

# Steps 1 & 2: Creating and Fitting our model to the data
reg_model = LinearRegression().fit(X1, y1)

# Obtaining the coefficient of determination (R2)
r_square = reg_model.score(X1, y1)

# Setting predictions dictionary to hold variables
predictions=[]

# Creating a for-loop to return predictions from model
for i in range(2020,2031):
    y_values=reg_model.predict(np.array([i]).reshape(1, -1))
    predictions.append(y_values[0])

# Creating a year range to hold years values with the future predictions
years = [i for i in range(2020,2031)] 

# Creating a new DataFrame to hold mmmr values with 10 years predictions
mmr_predict_df = pd.DataFrame(list(zip(years, predictions)), 
               columns =['year', 'maternal_mortality_ratio']) 


# DataFrame with the future predictions
mmr_predict_df

    year  maternal_mortality_ratio
0   2020                 35.963605
1   2021                 36.782910
2   2022                 37.602216
3   2023                 38.421521
4   2024                 39.240827
5   2025                 40.060132
6   2026                 40.879438
7   2027                 41.698743
8   2028                 42.518049
9   2029                 43.337354
10  2030                 44.156659

In [49]:
# Selecting y value
y = 'diabetes_val'
# Grouping by year
AVG_MMR_USA_diabetes = mmr_without_race.groupby('year').mean()[y]

# Selecting and assigning the X and y values
X2 = AVG_MMR_USA_diabetes.reset_index().year.values.reshape(-1,1)
y2 = AVG_MMR_USA_diabetes.reset_index()['diabetes_val'].values

# Creating and Fitting our model to the data
model2 = LinearRegression().fit(X2, y2)
r_sq_2 = model2.score(X2, y2)
# print(r_sq_2)

# Setting predictions dictionary to hold variables
diabetes=[]

# Creating a for-loop to return predictions from model
for i in range(2020,2031):
    y_values = model2.predict(np.array([i]).reshape(1, -1))
    diabetes.append(y_values[0])
    
# Creating a year range to hold years values with the future predictions
years = [i for i in range(2020,2031)] 

# Creating a new DataFrame to hold values with 10 years predictions
predictions2 = pd.DataFrame(list(zip(years, diabetes)), 
               columns =['year', 'diabetes_val']) 

# DataFrame with the future predictions
predictions2

# Merging with mmr_predictions 
combined1 = pd.merge(mmr_predict_df, predictions2, how='inner', left_on=['year'], right_on=['year'])
combined1

    year  maternal_mortality_ratio  diabetes_val
0   2020                 35.963605     11.875629
1   2021                 36.782910     12.138134
2   2022                 37.602216     12.400638
3   2023                 38.421521     12.663142
4   2024                 39.240827     12.925646
5   2025                 40.060132     13.188151
6   2026                 40.879438     13.450655
7   2027                 41.698743     13.713159
8   2028                 42.518049     13.975663
9   2029                 43.337354     14.238168
10  2030                 44.156659     14.500672

In [50]:
# Selecting y value
y = 'prem_death_val'
# Grouping by year
AVG_MMR_USA_prem = mmr_without_race.groupby('year').mean()[y]

# Selecting and assigning the X and y values
X3 = AVG_MMR_USA_prem.reset_index().year.values.reshape(-1,1)
y3 = AVG_MMR_USA_prem.reset_index()['prem_death_val'].values

# Creating and Fitting our model to the data
model3 = LinearRegression().fit(X3, y3)
r_sq_3 = model3.score(X3, y3)
# print(r_sq_3)

# Setting predictions dictionary to hold variables
premature =[]

# Creating a for-loop to return predictions from model
for i in range(2020,2031):
    y_values = model3.predict(np.array([i]).reshape(1, -1))
    premature.append(y_values[0])
    
# Creating a year range to hold years values with the future predictions
years = [i for i in range(2020,2031)] 

# Creating a new DataFrame to hold values with 10 years predictions
predictions3 = pd.DataFrame(list(zip(years, premature)), 
               columns =['year', 'prem_death_val']) 

# DataFrame with the future predictions
predictions3

# Merging with mmr_predictions 
combined2 = pd.merge(combined1, predictions3, how='inner', left_on=['year'], right_on=['year'])
combined2

    year  maternal_mortality_ratio  diabetes_val  prem_death_val
0   2020                 35.963605     11.875629     7870.161716
1   2021                 36.782910     12.138134     7889.917107
2   2022                 37.602216     12.400638     7909.672499
3   2023                 38.421521     12.663142     7929.427890
4   2024                 39.240827     12.925646     7949.183281
5   2025                 40.060132     13.188151     7968.938673
6   2026                 40.879438     13.450655     7988.694064
7   2027                 41.698743     13.713159     8008.449455
8   2028                 42.518049     13.975663     8028.204847
9   2029                 43.337354     14.238168     8047.960238
10  2030                 44.156659     14.500672     8067.715629

In [51]:
# Selecting y value
y = 'phys_inac_val'
# Grouping by year
AVG_MMR_USA_phys = mmr_without_race.groupby('year').mean()[y]

# Selecting and assigning the X and y values
X4 = AVG_MMR_USA_phys.reset_index().year.values.reshape(-1,1)
y4 = AVG_MMR_USA_phys.reset_index()['phys_inac_val'].values

# Creating and Fitting our model to the data
model4 = LinearRegression().fit(X4, y4)
r_sq_4 = model4.score(X4, y4)
# print(r_sq_4)

# Setting predictions dictionary to hold variables
physical_inactivity =[]

# Creating a for-loop to return predictions from model
for i in range(2020,2031):
    y_values = model4.predict(np.array([i]).reshape(1, -1))
    physical_inactivity.append(y_values[0])
    
# Creating a year range to hold years values with the future predictions
years = [i for i in range(2020,2031)] 

# Creating a new DataFrame to hold values with 10 years predictions
predictions4 = pd.DataFrame(list(zip(years, physical_inactivity)), 
               columns =['year', 'phys_inac_val']) 

# DataFrame with the future predictions
predictions4

# Merging with mmr_predictions 
combined3 = pd.merge(combined2, predictions4, how='inner', left_on=['year'], right_on=['year'])
combined3

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val
0,2020,35.963605,11.875629,7870.161716,26.032977
1,2021,36.782910,12.138134,7889.917107,26.092960
2,2022,37.602216,12.400638,7909.672499,26.152944
3,2023,38.421521,12.663142,7929.427890,26.212928
4,2024,39.240827,12.925646,7949.183281,26.272911
5,2025,40.060132,13.188151,7968.938673,26.332895
6,2026,40.879438,13.450655,7988.694064,26.392878
7,2027,41.698743,13.713159,8008.449455,26.452862
8,2028,42.518049,13.975663,8028.204847,26.512846
9,2029,43.337354,14.238168,8047.960238,26.572829
10,2030,44.156659,14.500672,8067.715629,26.632813

In [52]:
# Selecting y value
y = 'low_birthweight_val'
# Grouping by year
AVG_MMR_USA_lbw = mmr_without_race.groupby('year').mean()[y]

# Selecting and assigning the X and y values
X5= AVG_MMR_USA_lbw.reset_index().year.values.reshape(-1,1)
y5 = AVG_MMR_USA_lbw.reset_index()['low_birthweight_val'].values

# Creating and Fitting our model to the data
model5 = LinearRegression().fit(X5, y5)
r_sq_5 = model5.score(X5, y5)
# print(r_sq_5)

# Setting predictions dictionary to hold variables
low_birthweight =[]

# Creating a for-loop to return predictions from model
for i in range(2020,2031):
    y_values = model5.predict(np.array([i]).reshape(1, -1))
    low_birthweight.append(y_values[0])
    
# Creating a year range to hold years values with the future predictions
years = [i for i in range(2020,2031)] 

# Creating a new DataFrame to hold values with 10 years predictions
predictions5 = pd.DataFrame(list(zip(years, low_birthweight)), 
               columns =['year', 'low_birthweight_val']) 

# DataFrame with the future predictions
predictions5

# Merging with mmr_predictions 
combined4 = pd.merge(combined3, predictions5, how='inner', left_on=['year'], right_on=['year'])
combined4

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val
0,2020,35.963605,11.875629,7870.161716,26.032977,8.419778
1,2021,36.782910,12.138134,7889.917107,26.092960,8.427422
2,2022,37.602216,12.400638,7909.672499,26.152944,8.435067
3,2023,38.421521,12.663142,7929.427890,26.212928,8.442711
4,2024,39.240827,12.925646,7949.183281,26.272911,8.450355
5,2025,40.060132,13.188151,7968.938673,26.332895,8.457999
6,2026,40.879438,13.450655,7988.694064,26.392878,8.465644
7,2027,41.698743,13.713159,8008.449455,26.452862,8.473288
8,2028,42.518049,13.975663,8028.204847,26.512846,8.480932
9,2029,43.337354,14.238168,8047.960238,26.572829,8.488576
10,2030,44.156659,14.500672,8067.715629,26.632813,8.496221

In [54]:
# Selecting y value
y = 'obesity_val'
# Grouping by year
AVG_MMR_USA_ob = mmr_without_race.groupby('year').mean()[y]

# Selecting and assigning the X and y values
X6 = AVG_MMR_USA_ob.reset_index().year.values.reshape(-1,1)
y6 = AVG_MMR_USA_ob.reset_index()['obesity_val'].values

# Creating and Fitting our model to the data
model6 = LinearRegression().fit(X6, y6)
r_sq_6 = model6.score(X6, y6)
# print(r_sq_6)

# Setting predictions dictionary to hold variables
obesity_val =[]

# Creating a for-loop to return predictions from model
for i in range(2020,2031):
    y_values = model6.predict(np.array([i]).reshape(1, -1))
    obesity_val.append(y_values[0])
    
# Creating a year range to hold years values with the future predictions
years = [i for i in range(2020,2031)] 

# Creating a new DataFrame to hold values with 10 years predictions
predictions6 = pd.DataFrame(list(zip(years, obesity_val)), 
               columns =['year', 'obesity_val']) 

# DataFrame with the future predictions
predictions6

# Merging with mmr_predictions 
combined5 = pd.merge(combined4, predictions6, how='inner', left_on=['year'], right_on=['year'])
combined5

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val
0,2020,35.963605,11.875629,7870.161716,26.032977,8.419778,32.006807
1,2021,36.782910,12.138134,7889.917107,26.092960,8.427422,32.406575
2,2022,37.602216,12.400638,7909.672499,26.152944,8.435067,32.806343
3,2023,38.421521,12.663142,7929.427890,26.212928,8.442711,33.206110
4,2024,39.240827,12.925646,7949.183281,26.272911,8.450355,33.605878
5,2025,40.060132,13.188151,7968.938673,26.332895,8.457999,34.005646
6,2026,40.879438,13.450655,7988.694064,26.392878,8.465644,34.405413
7,2027,41.698743,13.713159,8008.449455,26.452862,8.473288,34.805181
8,2028,42.518049,13.975663,8028.204847,26.512846,8.480932,35.204948
9,2029,43.337354,14.238168,8047.960238,26.572829,8.488576,35.604716
10,2030,44.156659,14.500672,8067.715629,26.632813,8.496221,36.004484

In [56]:
# Selecting y value
y = 'cardio_death_val'
# Grouping by year
AVG_MMR_USA_cd = mmr_without_race.groupby('year').mean()[y]

# Selecting and assigning the X and y values
X7 = AVG_MMR_USA_cd.reset_index().year.values.reshape(-1,1)
y7 = AVG_MMR_USA_cd.reset_index()['cardio_death_val'].values

# Creating and Fitting our model to the data
model7 = LinearRegression().fit(X7, y7)
r_sq_7 = model7.score(X7, y7)
# print(r_sq_7)

# Setting predictions dictionary to hold variables
cardio_val =[]

# Creating a for-loop to return predictions from model
for i in range(2020,2031):
    y_values = model7.predict(np.array([i]).reshape(1, -1))
    cardio_val.append(y_values[0])
    
# Creating a year range to hold years values with the future predictions
years = [i for i in range(2020,2031)] 

# Creating a new DataFrame to hold values with 10 years predictions
predictions7 = pd.DataFrame(list(zip(years, cardio_val)), 
               columns =['year', 'cardio_death_val']) 

# DataFrame with the future predictions
predictions7

# Merging with mmr_predictions 
combined6 = pd.merge(combined5, predictions7, how='inner', left_on=['year'], right_on=['year'])
combined6

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val
0,2020,35.963605,11.875629,7870.161716,26.032977,8.419778,32.006807,260.587473
1,2021,36.782910,12.138134,7889.917107,26.092960,8.427422,32.406575,259.217753
2,2022,37.602216,12.400638,7909.672499,26.152944,8.435067,32.806343,257.848034
3,2023,38.421521,12.663142,7929.427890,26.212928,8.442711,33.206110,256.478315
4,2024,39.240827,12.925646,7949.183281,26.272911,8.450355,33.605878,255.108595
5,2025,40.060132,13.188151,7968.938673,26.332895,8.457999,34.005646,253.738876
6,2026,40.879438,13.450655,7988.694064,26.392878,8.465644,34.405413,252.369156
7,2027,41.698743,13.713159,8008.449455,26.452862,8.473288,34.805181,250.999437
8,2028,42.518049,13.975663,8028.204847,26.512846,8.480932,35.204948,249.629718
9,2029,43.337354,14.238168,8047.960238,26.572829,8.488576,35.604716,248.259998
10,2030,44.156659,14.500672,8067.715629,26.632813,8.496221,36.004484,246.890279

In [58]:
# Selecting y value
y = 'medicare'
# Grouping by year
AVG_MMR_USA_med = mmr_without_race.groupby('year').mean()[y]

# Selecting and assigning the X and y values
X8 = AVG_MMR_USA_med.reset_index().year.values.reshape(-1,1)
y8 = AVG_MMR_USA_med.reset_index()['medicare'].values

# Creating and Fitting our model to the data
model8 = LinearRegression().fit(X8, y8)
r_sq_8 = model8.score(X8, y8)
# print(r_sq_7)

# Setting predictions dictionary to hold variables
medicare =[]

# Creating a for-loop to return predictions from model
for i in range(2020,2031):
    y_values = model8.predict(np.array([i]).reshape(1, -1))
    medicare.append(y_values[0])
    
# Creating a year range to hold years values with the future predictions
years = [i for i in range(2020,2031)] 

# Creating a new DataFrame to hold values with 10 years predictions
predictions8 = pd.DataFrame(list(zip(years, medicare)), 
               columns =['year', 'medicare']) 

# DataFrame with the future predictions
predictions8

# Merging with mmr_predictions 
combined7 = pd.merge(combined6, predictions8, how='inner', left_on=['year'], right_on=['year'])
combined7

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare
0,2020,35.963605,11.875629,7870.161716,26.032977,8.419778,32.006807,260.587473,2.401134
1,2021,36.782910,12.138134,7889.917107,26.092960,8.427422,32.406575,259.217753,2.431369
2,2022,37.602216,12.400638,7909.672499,26.152944,8.435067,32.806343,257.848034,2.461603
3,2023,38.421521,12.663142,7929.427890,26.212928,8.442711,33.206110,256.478315,2.491838
4,2024,39.240827,12.925646,7949.183281,26.272911,8.450355,33.605878,255.108595,2.522072
5,2025,40.060132,13.188151,7968.938673,26.332895,8.457999,34.005646,253.738876,2.552307
6,2026,40.879438,13.450655,7988.694064,26.392878,8.465644,34.405413,252.369156,2.582542
7,2027,41.698743,13.713159,8008.449455,26.452862,8.473288,34.805181,250.999437,2.612776
8,2028,42.518049,13.975663,8028.204847,26.512846,8.480932,35.204948,249.629718,2.643011
9,2029,43.337354,14.238168,8047.960238,26.572829,8.488576,35.604716,248.259998,2.673245
10,2030,44.156659,14.500672,8067.715629,26.632813,8.496221,36.004484,246.890279,2.703480