In [1]:
# Dependencies
import pandas as pd

## State Information - Data Extraction

### State names and State IDs

In [2]:
# Get State names and id
url = 'https://cdn.anychart.com/samples/maps-in-dashboard/states-of-united-states-dashboard-with-multi-select/data.json'
us_state_data = pd.read_json(path_or_buf=url)
us_state_data.head()

,name,id,flag,capital,largest_city,statehood,population,area,land_area,water_area,house_seats,labels
0,Alabama,US.AL,http://static.anychart.com/images/maps_samples...,Montgomery,Birmingham,"December 14, 1819",4833722,135767,131170,4597,7,NaN
1,Alaska,US.AK,http://static.anychart.com/images/maps_samples...,Juneau,Anchorage,"January 3, 1959",735132,1723337,1477950,245383,1,NaN
2,Arizona,US.AZ,http://static.anychart.com/images/maps_samples...,Phoenix,Phoenix,"February 14, 1912",6626624,295233,294207,1026,9,NaN
3,Arkansas,US.AR,http://static.anychart.com/images/maps_samples...,Little Rock,Little Rock,"June 15, 1836","2959,373",137733,134770,2960,4,NaN
4,California,US.CA,http://static.anychart.com/images/maps_samples...,Sacramento,Los Angeles,"September 9, 1850",38332521,423968,403466,20502,53,NaN

In [3]:
us_state_ids = us_state_data[["name", "id"]].copy()

us_state_ids = us_state_ids.rename(columns={'name': 'state'})

print(len(us_state_ids))
us_state_ids.head()

50

        state     id
0     Alabama  US.AL
1      Alaska  US.AK
2     Arizona  US.AZ
3    Arkansas  US.AR
4  California  US.CA

### All Years and States

In [4]:
# Create a list that contains all years and states of interest  
states = list(us_state_ids['state'])
years = ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

state_year = [(year, state) for state in states for year in years]

In [5]:
print(len(state_year))
print(state_year)

550
[('2009', 'Alabama'), ('2010', 'Alabama'), ('2011', 'Alabama'), ('2012', 'Alabama'), ('2013', 'Alabama'), ('2014', 'Alabama'), ('2015', 'Alabama'), ('2016', 'Alabama'), ('2017', 'Alabama'), ('2018', 'Alabama'), ('2019', 'Alabama'), ('2009', 'Alaska'), ('2010', 'Alaska'), ('2011', 'Alaska'), ('2012', 'Alaska'), ('2013', 'Alaska'), ('2014', 'Alaska'), ('2015', 'Alaska'), ('2016', 'Alaska'), ('2017', 'Alaska'), ('2018', 'Alaska'), ('2019', 'Alaska'), ('2009', 'Arizona'), ('2010', 'Arizona'), ('2011', 'Arizona'), ('2012', 'Arizona'), ('2013', 'Arizona'), ('2014', 'Arizona'), ('2015', 'Arizona'), ('2016', 'Arizona'), ('2017', 'Arizona'), ('2018', 'Arizona'), ('2019', 'Arizona'), ('2009', 'Arkansas'), ('2010', 'Arkansas'), ('2011', 'Arkansas'), ('2012', 'Arkansas'), ('2013', 'Arkansas'), ('2014', 'Arkansas'), ('2015', 'Arkansas'), ('2016', 'Arkansas'), ('2017', 'Arkansas'), ('2018', 'Arkansas'), ('2019', 'Arkansas'), ('2009', 'California'), ('2010', 'California'), ('2011', 'California'), ('2012', 'California'), ('2013', 'California'), ('2014', 'California'), ('2015', 'California'), ('2016', 'California'), ('2017', 'California'), ('2018', 'California'), ('2019', 'California'), ('2009', 'Colorado'), ('2010', 'Colorado'), ('2011', 'Colorado'), ('2012', 'Colorado'), ('2013', 'Colorado'), ('2014', 'Colorado'), ('2015', 'Colorado'), ('2016', 'Colorado'), ('2017', 'Colorado'), ('2018', 'Colorado'), ('2019', 'Colorado'), ('2009', 'Connecticut'), ('2010', 'Connecticut'), ('2011', 'Connecticut'), ('2012', 'Connecticut'), ('2013', 'Connecticut'), ('2014', 'Connecticut'), ('2015', 'Connecticut'), ('2016', 'Connecticut'), ('2017', 'Connecticut'), ('2018', 'Connecticut'), ('2019', 'Connecticut'), ('2009', 'Delaware'), ('2010', 'Delaware'), ('2011', 'Delaware'), ('2012', 'Delaware'), ('2013', 'Delaware'), ('2014', 'Delaware'), ('2015', 'Delaware'), ('2016', 'Delaware'), ('2017', 'Delaware'), ('2018', 'Delaware'), ('2019', 'Delaware'), ('2009', 'Florida'), ('2010', 'Florida'), ('2011', 'Florida'), ('2012', 'Florida'), ('2013', 'Florida'), ('2014', 'Florida'), ('2015', 'Florida'), ('2016', 'Florida'), ('2017', 'Florida'), ('2018', 'Florida'), ('2019', 'Florida'), ('2009', 'Georgia'), ('2010', 'Georgia'), ('2011', 'Georgia'), ('2012', 'Georgia'), ('2013', 'Georgia'), ('2014', 'Georgia'), ('2015', 'Georgia'), ('2016', 'Georgia'), ('2017', 'Georgia'), ('2018', 'Georgia'), ('2019', 'Georgia'), ('2009', 'Hawaii'), ('2010', 'Hawaii'), ('2011', 'Hawaii'), ('2012', 'Hawaii'), ('2013', 'Hawaii'), ('2014', 'Hawaii'), ('2015', 'Hawaii'), ('2016', 'Hawaii'), ('2017', 'Hawaii'), ('2018', 'Hawaii'), ('2019', 'Hawaii'), ('2009', 'Idaho'), ('2010', 'Idaho'), ('2011', 'Idaho'), ('2012', 'Idaho'), ('2013', 'Idaho'), ('2014', 'Idaho'), ('2015', 'Idaho'), ('2016', 'Idaho'), ('2017', 'Idaho'), ('2018', 'Idaho'), ('2019', 'Idaho'), ('2009', 'Illinois'), ('2010', 'Illinois'), ('2011', 'Illinois'), ('2012', 'Illinois'), ('2013', 'Illinois'), ('2014', 'Illinois'), ('2015', 'Illinois'), ('2016', 'Illinois'), ('2017', 'Illinois'), ('2018', 'Illinois'), ('2019', 'Illinois'), ('2009', 'Indiana'), ('2010', 'Indiana'), ('2011', 'Indiana'), ('2012', 'Indiana'), ('2013', 'Indiana'), ('2014', 'Indiana'), ('2015', 'Indiana'), ('2016', 'Indiana'), ('2017', 'Indiana'), ('2018', 'Indiana'), ('2019', 'Indiana'), ('2009', 'Iowa'), ('2010', 'Iowa'), ('2011', 'Iowa'), ('2012', 'Iowa'), ('2013', 'Iowa'), ('2014', 'Iowa'), ('2015', 'Iowa'), ('2016', 'Iowa'), ('2017', 'Iowa'), ('2018', 'Iowa'), ('2019', 'Iowa'), ('2009', 'Kansas'), ('2010', 'Kansas'), ('2011', 'Kansas'), ('2012', 'Kansas'), ('2013', 'Kansas'), ('2014', 'Kansas'), ('2015', 'Kansas'), ('2016', 'Kansas'), ('2017', 'Kansas'), ('2018', 'Kansas'), ('2019', 'Kansas'), ('2009', 'Kentucky'), ('2010', 'Kentucky'), ('2011', 'Kentucky'), ('2012', 'Kentucky'), ('2013', 'Kentucky'), ('2014', 'Kentucky'), ('2015', 'Kentucky'), ('2016', 'Kentucky'), ('2017', 'Kentucky'), ('2018', 'Kentucky'), ('2019', 'Kentucky'), ('2009', 'Louisiana'), ('2010', 'Louisiana'), ('2011', 'Louisiana'), ('2012', 'Louisiana'), ('2013', 'Louisiana'), ('2014', 'Louisiana'), ('2015', 'Louisiana'), ('2016', 'Louisiana'), ('2017', 'Louisiana'), ('2018', 'Louisiana'), ('2019', 'Louisiana'), ('2009', 'Maine'), ('2010', 'Maine'), ('2011', 'Maine'), ('2012', 'Maine'), ('2013', 'Maine'), ('2014', 'Maine'), ('2015', 'Maine'), ('2016', 'Maine'), ('2017', 'Maine'), ('2018', 'Maine'), ('2019', 'Maine'), ('2009', 'Maryland'), ('2010', 'Maryland'), ('2011', 'Maryland'), ('2012', 'Maryland'), ('2013', 'Maryland'), ('2014', 'Maryland'), ('2015', 'Maryland'), ('2016', 'Maryland'), ('2017', 'Maryland'), ('2018', 'Maryland'), ('2019', 'Maryland'), ('2009', 'Massachusetts'), ('2010', 'Massachusetts'), ('2011', 'Massachusetts'), ('2012', 'Massachusetts'), ('2013', 'Massachusetts'), ('2014', 'Massachusetts'), ('2015', 'Massachusetts'), ('2016', 'Massachusetts'), ('2017', 'Massachusetts'), ('2018', 'Massachusetts'), ('2019', 'Massachusetts'), ('2009', 'Michigan'), ('2010', 'Michigan'), ('2011', 'Michigan'), ('2012', 'Michigan'), ('2013', 'Michigan'), ('2014', 'Michigan'), ('2015', 'Michigan'), ('2016', 'Michigan'), ('2017', 'Michigan'), ('2018', 'Michigan'), ('2019', 'Michigan'), ('2009', 'Minnesota'), ('2010', 'Minnesota'), ('2011', 'Minnesota'), ('2012', 'Minnesota'), ('2013', 'Minnesota'), ('2014', 'Minnesota'), ('2015', 'Minnesota'), ('2016', 'Minnesota'), ('2017', 'Minnesota'), ('2018', 'Minnesota'), ('2019', 'Minnesota'), ('2009', 'Mississippi'), ('2010', 'Mississippi'), ('2011', 'Mississippi'), ('2012', 'Mississippi'), ('2013', 'Mississippi'), ('2014', 'Mississippi'), ('2015', 'Mississippi'), ('2016', 'Mississippi'), ('2017', 'Mississippi'), ('2018', 'Mississippi'), ('2019', 'Mississippi'), ('2009', 'Missouri'), ('2010', 'Missouri'), ('2011', 'Missouri'), ('2012', 'Missouri'), ('2013', 'Missouri'), ('2014', 'Missouri'), ('2015', 'Missouri'), ('2016', 'Missouri'), ('2017', 'Missouri'), ('2018', 'Missouri'), ('2019', 'Missouri'), ('2009', 'Montana'), ('2010', 'Montana'), ('2011', 'Montana'), ('2012', 'Montana'), ('2013', 'Montana'), ('2014', 'Montana'), ('2015', 'Montana'), ('2016', 'Montana'), ('2017', 'Montana'), ('2018', 'Montana'), ('2019', 'Montana'), ('2009', 'Nebraska'), ('2010', 'Nebraska'), ('2011', 'Nebraska'), ('2012', 'Nebraska'), ('2013', 'Nebraska'), ('2014', 'Nebraska'), ('2015', 'Nebraska'), ('2016', 'Nebraska'), ('2017', 'Nebraska'), ('2018', 'Nebraska'), ('2019', 'Nebraska'), ('2009', 'Nevada'), ('2010', 'Nevada'), ('2011', 'Nevada'), ('2012', 'Nevada'), ('2013', 'Nevada'), ('2014', 'Nevada'), ('2015', 'Nevada'), ('2016', 'Nevada'), ('2017', 'Nevada'), ('2018', 'Nevada'), ('2019', 'Nevada'), ('2009', 'New Hampshire'), ('2010', 'New Hampshire'), ('2011', 'New Hampshire'), ('2012', 'New Hampshire'), ('2013', 'New Hampshire'), ('2014', 'New Hampshire'), ('2015', 'New Hampshire'), ('2016', 'New Hampshire'), ('2017', 'New Hampshire'), ('2018', 'New Hampshire'), ('2019', 'New Hampshire'), ('2009', 'New Jersey'), ('2010', 'New Jersey'), ('2011', 'New Jersey'), ('2012', 'New Jersey'), ('2013', 'New Jersey'), ('2014', 'New Jersey'), ('2015', 'New Jersey'), ('2016', 'New Jersey'), ('2017', 'New Jersey'), ('2018', 'New Jersey'), ('2019', 'New Jersey'), ('2009', 'New Mexico'), ('2010', 'New Mexico'), ('2011', 'New Mexico'), ('2012', 'New Mexico'), ('2013', 'New Mexico'), ('2014', 'New Mexico'), ('2015', 'New Mexico'), ('2016', 'New Mexico'), ('2017', 'New Mexico'), ('2018', 'New Mexico'), ('2019', 'New Mexico'), ('2009', 'New York'), ('2010', 'New York'), ('2011', 'New York'), ('2012', 'New York'), ('2013', 'New York'), ('2014', 'New York'), ('2015', 'New York'), ('2016', 'New York'), ('2017', 'New York'), ('2018', 'New York'), ('2019', 'New York'), ('2009', 'North Carolina'), ('2010', 'North Carolina'), ('2011', 'North Carolina'), ('2012', 'North Carolina'), ('2013', 'North Carolina'), ('2014', 'North Carolina'), ('2015', 'North Carolina'), ('2016', 'North Carolina'), ('2017', 'North Carolina'), ('2018', 'North Carolina'), ('2019', 'North Carolina'), ('2009', 'North Dakota'), ('2010', 'North Dakota'), ('2011', 'North Dakota'), ('2012', 'North Dakota'), ('2013', 'North Dakota'), ('2014', 'North Dakota'), ('2015', 'North Dakota'), ('2016', 'North Dakota'), ('2017', 'North Dakota'), ('2018', 'North Dakota'), ('2019', 'North Dakota'), ('2009', 'Ohio'), ('2010', 'Ohio'), ('2011', 'Ohio'), ('2012', 'Ohio'), ('2013', 'Ohio'), ('2014', 'Ohio'), ('2015', 'Ohio'), ('2016', 'Ohio'), ('2017', 'Ohio'), ('2018', 'Ohio'), ('2019', 'Ohio'), ('2009', 'Oklahoma'), ('2010', 'Oklahoma'), ('2011', 'Oklahoma'), ('2012', 'Oklahoma'), ('2013', 'Oklahoma'), ('2014', 'Oklahoma'), ('2015', 'Oklahoma'), ('2016', 'Oklahoma'), ('2017', 'Oklahoma'), ('2018', 'Oklahoma'), ('2019', 'Oklahoma'), ('2009', 'Oregon'), ('2010', 'Oregon'), ('2011', 'Oregon'), ('2012', 'Oregon'), ('2013', 'Oregon'), ('2014', 'Oregon'), ('2015', 'Oregon'), ('2016', 'Oregon'), ('2017', 'Oregon'), ('2018', 'Oregon'), ('2019', 'Oregon'), ('2009', 'Pennsylvania'), ('2010', 'Pennsylvania'), ('2011', 'Pennsylvania'), ('2012', 'Pennsylvania'), ('2013', 'Pennsylvania'), ('2014', 'Pennsylvania'), ('2015', 'Pennsylvania'), ('2016', 'Pennsylvania'), ('2017', 'Pennsylvania'), ('2018', 'Pennsylvania'), ('2019', 'Pennsylvania'), ('2009', 'Rhode Island'), ('2010', 'Rhode Island'), ('2011', 'Rhode Island'), ('2012', 'Rhode Island'), ('2013', 'Rhode Island'), ('2014', 'Rhode Island'), ('2015', 'Rhode Island'), ('2016', 'Rhode Island'), ('2017', 'Rhode Island'), ('2018', 'Rhode Island'), ('2019', 'Rhode Island'), ('2009', 'South Carolina'), ('2010', 'South Carolina'), ('2011', 'South Carolina'), ('2012', 'South Carolina'), ('2013', 'South Carolina'), ('2014', 'South Carolina'), ('2015', 'South Carolina'), ('2016', 'South Carolina'), ('2017', 'South Carolina'), ('2018', 'South Carolina'), ('2019', 'South Carolina'), ('2009', 'South Dakota'), ('2010', 'South Dakota'), ('2011', 'South Dakota'), ('2012', 'South Dakota'), ('2013', 'South Dakota'), ('2014', 'South Dakota'), ('2015', 'South Dakota'), ('2016', 'South Dakota'), ('2017', 'South Dakota'), ('2018', 'South Dakota'), ('2019', 'South Dakota'), ('2009', 'Tennessee'), ('2010', 'Tennessee'), ('2011', 'Tennessee'), ('2012', 'Tennessee'), ('2013', 'Tennessee'), ('2014', 'Tennessee'), ('2015', 'Tennessee'), ('2016', 'Tennessee'), ('2017', 'Tennessee'), ('2018', 'Tennessee'), ('2019', 'Tennessee'), ('2009', 'Texas'), ('2010', 'Texas'), ('2011', 'Texas'), ('2012', 'Texas'), ('2013', 'Texas'), ('2014', 'Texas'), ('2015', 'Texas'), ('2016', 'Texas'), ('2017', 'Texas'), ('2018', 'Texas'), ('2019', 'Texas'), ('2009', 'Utah'), ('2010', 'Utah'), ('2011', 'Utah'), ('2012', 'Utah'), ('2013', 'Utah'), ('2014', 'Utah'), ('2015', 'Utah'), ('2016', 'Utah'), ('2017', 'Utah'), ('2018', 'Utah'), ('2019', 'Utah'), ('2009', 'Vermont'), ('2010', 'Vermont'), ('2011', 'Vermont'), ('2012', 'Vermont'), ('2013', 'Vermont'), ('2014', 'Vermont'), ('2015', 'Vermont'), ('2016', 'Vermont'), ('2017', 'Vermont'), ('2018', 'Vermont'), ('2019', 'Vermont'), ('2009', 'Virginia'), ('2010', 'Virginia'), ('2011', 'Virginia'), ('2012', 'Virginia'), ('2013', 'Virginia'), ('2014', 'Virginia'), ('2015', 'Virginia'), ('2016', 'Virginia'), ('2017', 'Virginia'), ('2018', 'Virginia'), ('2019', 'Virginia'), ('2009', 'Washington'), ('2010', 'Washington'), ('2011', 'Washington'), ('2012', 'Washington'), ('2013', 'Washington'), ('2014', 'Washington'), ('2015', 'Washington'), ('2016', 'Washington'), ('2017', 'Washington'), ('2018', 'Washington'), ('2019', 'Washington'), ('2009', 'West Virginia'), ('2010', 'West Virginia'), ('2011', 'West Virginia'), ('2012', 'West Virginia'), ('2013', 'West Virginia'), ('2014', 'West Virginia'), ('2015', 'West Virginia'), ('2016', 'West Virginia'), ('2017', 'West Virginia'), ('2018', 'West Virginia'), ('2019', 'West Virginia'), ('2009', 'Wisconsin'), ('2010', 'Wisconsin'), ('2011', 'Wisconsin'), ('2012', 'Wisconsin'), ('2013', 'Wisconsin'), ('2014', 'Wisconsin'), ('2015', 'Wisconsin'), ('2016', 'Wisconsin'), ('2017', 'Wisconsin'), ('2018', 'Wisconsin'), ('2019', 'Wisconsin'), ('2009', 'Wyoming'), ('2010', 'Wyoming'), ('2011', 'Wyoming'), ('2012', 'Wyoming'), ('2013', 'Wyoming'), ('2014', 'Wyoming'), ('2015', 'Wyoming'), ('2016', 'Wyoming'), ('2017', 'Wyoming'), ('2018', 'Wyoming'), ('2019', 'Wyoming')]

In [6]:
# Create Dataframe to store data
state_year_df = pd.DataFrame(columns=['year', 'state'])

# Store data in dataframe
for year, state in state_year:
    state_year_df = state_year_df.append({'year': year, 'state': state}, ignore_index=True)

print(len(state_year_df))
state_year_df.head()

550

   year    state
0  2009  Alabama
1  2010  Alabama
2  2011  Alabama
3  2012  Alabama
4  2013  Alabama

### State Location

In [7]:
# Get location (lat, lng) info
location_url = 'https://developers.google.com/public-data/docs/canonical/states_csv'
state_location = pd.read_html(location_url)
state_location_df = state_location[0]

state_location_df = state_location_df.rename(columns={'state': 'state_code', 'name': 'state'})

print(len(state_location_df))
state_location_df.head()

52

  state_code   latitude   longitude       state
0         AK  63.588753 -154.493062      Alaska
1         AL  32.318231  -86.902298     Alabama
2         AR  35.201050  -91.831833    Arkansas
3         AZ  34.048928 -111.093731     Arizona
4         CA  36.778261 -119.417932  California

## State Information - Data Transfromation

In [8]:
# Merge state_id and state_location
state_loc_code = us_state_ids.merge(state_location_df, how='left', on=['state'])

print(len(state_loc_code))
state_loc_code.head()

50

        state     id state_code   latitude   longitude
0     Alabama  US.AL         AL  32.318231  -86.902298
1      Alaska  US.AK         AK  63.588753 -154.493062
2     Arizona  US.AZ         AZ  34.048928 -111.093731
3    Arkansas  US.AR         AR  35.201050  -91.831833
4  California  US.CA         CA  36.778261 -119.417932

In [9]:
# Merge location-info dataframe to state-year dataframe
state_info_df = state_year_df.merge(state_loc_code, how='left', on=['state'])

print(len(state_info_df))
state_info_df.head()

550

   year    state     id state_code   latitude  longitude
0  2009  Alabama  US.AL         AL  32.318231 -86.902298
1  2010  Alabama  US.AL         AL  32.318231 -86.902298
2  2011  Alabama  US.AL         AL  32.318231 -86.902298
3  2012  Alabama  US.AL         AL  32.318231 -86.902298
4  2013  Alabama  US.AL         AL  32.318231 -86.902298

In [10]:
# Store CSV file
filepath = '../../output_file/state_non_race_info.csv'
state_info_df.to_csv(filepath, index=False)