# Combined Insurance Dataset with MMR by Race from 2009 to 2019
****

### Importing Dependencies

In [1]:
# Importing dependencies:
import numpy as np
import pandas as pd

### Store CSV Into DataFrame

In [2]:
# Reading the csv file into a pandas DataFrame
US_Ins = pd.read_csv('../output_file/2009_2019_Updated_US_ins_cleaned.csv')
US_Ins.head()

,location,year,employer,non_group,medicaid,medicare,military,uninsured,total
0,Alabama,2009,58.6,6.1,11.4,3.5,2.2,18.2,100
1,Alaska,2009,56.7,4.2,10.1,0.0,5.6,22.7,100
2,Arizona,2009,53.8,6.9,15.5,2.0,1.7,20.1,100
3,Arkansas,2009,54.1,5.8,11.8,3.6,1.5,23.1,100
4,California,2009,55.4,8.6,12.2,1.3,0.9,21.6,100

In [3]:
# Reading the csv file into a pandas DataFrame
MMR_by_Race = pd.read_csv('../output_file/MMR_by_race_ML.csv')
MMR_by_Race.head()

,state,state_code,year,race,race_code,hispanic_origin,hispanic_origin_code,total_births,births_by_race,total_deaths,deaths_by_race,total_mmr,mmr_by_race,total_population,population_by_race
0,Alabama,1,2016,Black or African American,2054-5,Not Hispanic or Latino,2186-2,59151,17989,35,14,59.17,77.83,2507714,0
1,Alabama,1,2016,White,2106-3,Not Hispanic or Latino,2186-2,59151,35319,35,18,59.17,50.96,2507714,0
2,Alabama,1,2017,Black or African American,2054-5,Not Hispanic or Latino,2186-2,58941,18354,41,25,69.56,136.21,2514911,704201
3,Alabama,1,2017,White,2106-3,Not Hispanic or Latino,2186-2,58941,34784,41,15,69.56,43.12,2514911,1655605
4,Alabama,1,2018,Black or African American,2054-5,Not Hispanic or Latino,2186-2,57761,17939,31,14,53.67,78.04,2523756,706754